@import "styles/variables.module";

.tabs {
  display: flex;
  justify-content: space-between;
}

.tab {
  text-align: center;
  color: $white;
  font-size: 22px;
  cursor: pointer;
  padding: 15px 0;
  line-height: 140%;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  display: flex;
  justify-content: center;
}

.selectedTab {
  border-color: $labelGray;
}

.count {
  margin-left: 15px;
  height: 32px;
  background-color: $labelGray;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 20px;
  padding: 0 10px;
  line-height: 1;
}
