@import "styles/variables.module";

.avatarWrapper {
  width: 140px;
  position: absolute;
  top: -33%;
  left: 0;
  height: 140px;
}

.avatar {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.infoSection {
  padding-bottom: 0;
}

.info {
  position: relative;
  padding-bottom: 40px;
}

.infoRow {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.statsRow {
  flex-direction: row;
  gap: 60px;
}

.tokensInfo {
  display: flex;
  flex-direction: column;
}

.tokensCount {
  font-family: $spaceMono;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
}

.tokensText {
  font-size: 22px;
  line-height: 160%;
}

.label {
  font-family: $spaceMono;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  color: $labelGray;
  margin-bottom: 10px;
}

.bio {
  font-size: 22px;
  line-height: 160%;
}

.links {
  display: flex;
  gap: 15px;
}

.link {
  color: $labelGray;
  width: 32px;
  height: 32px;
  transition: color .3s;

  &:hover {
    color: $white;
  }
}

.tokensSection {
  background-color: $blackSecondary;
}

.tokensWrapper {
  padding-bottom: 0;
}


.tokens {
  background-color: $blackSecondary;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.token {
  width: 30%;
  margin-top: 5%;

  &:nth-child(-n+3) {
    margin-top: 0;
  }
}
