@import "styles/variables.module";

.avatarWrapper {
  width: 140px;
  position: absolute;
  top: -33%;
  left: 0;
  height: 140px;
}

.avatar {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.infoSection {
  padding-bottom: 0;
}

.info {
  position: relative;
  padding-bottom: 40px;
}

.infoRow {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.statsRow {
  flex-direction: row;
  gap: 60px;
}

.logoutBtn {
  margin-top: 30px;
}

.tokensInfo {
  display: flex;
  flex-direction: column;
}

.tokensCount {
  font-family: $spaceMono;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
}

.tokensText {
  font-size: 22px;
  line-height: 160%;
}

.tokensSection {
  background-color: $blackSecondary;
}

.tokensWrapper {
  padding-bottom: 0;
}

.tokens {
  background-color: $blackSecondary;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.token {
  width: 30%;
  margin-top: 5%;

  &:nth-child(-n+3) {
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .tokens {
    gap: 2.5%;
  }

  .token {
    width: 31.65%;
    margin-top: 2.5% !important;
  }
}

@media (max-width: 768px) {
  .token {
    width: 48.7%;
  }
}

@media (max-width: 555px) {
  .infoSection {
    padding-top: 64px;
  }

  .avatarWrapper {
    width: 100px;
    height: 100px;
    top: -21%;
  }

  .tokensCount {
    font-size: 24px;
  }

  .tokensText {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
.statsRow {
  flex-direction: column;
  gap: 30px;
}

  .token {
    width: 100%;
  }

  .tokens {
    gap: 30px;
  }
}
