.main {
  padding: 80px 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.kek {
  background-color: red;
}

.mainSection {
  background-color: #fff;
}

.info {
  width: 40%;
}

.title {
  margin-bottom: 20px;
}

.desc {
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.button {
  height: 60px;
  width: 224px;
}

.stats {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.statsItem {
  display: flex;
  flex-direction: column;
}

.statsValue {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 5px;
}

.statsTitle {
  font-size: 24px;
}

.card {
  width: 470px;
}
