.wrapper {
  display: flex;
  justify-content: space-between;
}

.mainSection {
  background-color: #fff;
}

.info {
  width: 45%;
}

.title {
  margin-bottom: 20px;
}

.desc {
  font-size: 22px;
  line-height: 160%;
  margin-bottom: 30px;
}

.button {
  height: 60px;
  width: 224px;
}

.stats {
  margin-top: 30px;
  display: flex;
  gap: 45px;
}

.statsItem {
  display: flex;
  flex-direction: column;
}

.statsValue {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 5px;
}

.statsTitle {
  font-size: 24px;
}

.pic {
  width: 35%;
}

.card {
  width: 100%;
}

@media (max-width: 1024px) {
  .info {
    width: 50%;
  }

  .desc {
    font-size: 20px;
  }

  .statsValue {
    font-size: 24px;
  }

  .statsTitle {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .desc {
    font-size: 18px;
  }

  .pic {
    width: 240px;
  }

  .statsValue {
    font-size: 20px;
  }

  .statsTitle {
    font-size: 18px;
  }
}
