@import "styles/variables.module";

.user {
  background-color: $blackSecondary;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.75% 0;
  position: relative;
  overflow: hidden;
}

.index {
  position: absolute;
  top: 13%;
  left: 11%;
  background-color: $black;
  color: $labelGray;
  font-size: 16px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.avatar {
  width: 50%;
  margin-bottom: 20px;
}

.username {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 5px;
}

.stats {
  display: flex;
  gap: 10px;
}

.statsKey {
  font-size: 16px;
  line-height: 140%;
  color: $labelGray;
}

.statsValue {
  font-family: $spaceMono;
  font-size: 16px;
  line-height: 140%;
}
