@import "styles/variables.module";

.bioWrapper {
  display: flex;
  flex-direction: column;
}

.bio {
  background: transparent;
  font-size: 22px;
  line-height: 160%;
  color: $white;
  cursor: text;
}

.error {
  color: $error;
  font-size: 12px;
}
