@import "styles/variables.module";

.card {
  border-radius: 20px;
  background-color: $blackSecondary;
  overflow: hidden;
  aspect-ratio: 1/1.3;
  position: relative;
  background-size: cover;
  background-position: -1px -1px;
  background-repeat: no-repeat;
  transition: all .3s;

  &.sold:after {
    content: 'Sold';
    font-weight: 700;
    position: absolute;
    top: 2%;
    right: -7%;
    background-color: $error;
    padding: 7px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
  }

  &:hover {
    background-position: -1px -15px;
  }
}

.info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $blackSecondary;
  padding: 20px 30px 30px;
}

.mainInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoTable {
  width: 80%;
}

.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 5px;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.authorPic {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  border-radius: 100%;
}

.authorName {
  font-size: 16px;
  line-height: 140%;
}

.price {
  display: flex;
  flex-direction: column;
}

.priceLabel, .ownerLabel {
  margin-bottom: 5px;
  font-size: 12px;
  color: $labelGray;
  font-family: $spaceMono;
}

.priceValue {
  font-size: 16px;
  font-family: $spaceMono;
}

.type {
  width: 40px;
  height: 40px;
}

.darken {
  .info {
    background-color: $black;
  }
}

.footer {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.owner {
  display: flex;
  align-items: center;
}

.ownerWrapper {
  margin-top: 0;
}

.ownerLabel {
  font-weight: 400;
}

.ownerAvatar {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.ownerUsername {
  font-size: 16px;
  line-height: 140%;
}

@media (max-width: 1024px) {
  .title {
    font-size: 20px;
  }

  .type {
    width: 35px;
    height: 35px;
  }

  .card.sold:after {
    top: 0;
    right: -9%;
    font-size: 14px;
  }
}

@media (max-width: 555px) {
  .info {
    padding: 10px 20px 20px;
  }

  .title {
    font-size: 18px;
  }

  .type {
    width: 30px;
    height: 30px;
  }

  .ownerUsername {
    font-size: 14px;
  }

  .ownerAvatar {
    width: 22px;
    height: 22px;
    margin-right: 10px;
  }

  .priceValue {
    font-size: 14px;
  }

  .footer {
    margin-top: 15px;
  }
}
