// fonts
$workSans: 'Work Sans', sans-serif;
$spaceMono: 'Space Mono', monospace;

// colors

$black: #2B2B2B;
$blackSecondary: #3B3B3B;
$labelGray: #858584;
$white: #FFFFFF;
$accent: #A259FF;
$error: #FF1744;
$success: #4CAF50;

$purpleGradient: linear-gradient(128.15deg, #A259FF 49.75%, #377DF7 136.56%);
$pinkGradient: linear-gradient(100.92deg, #A259FF 13.57%, #FF6250 97.65%);



